<h1>Find An Artist!</h1>

<!-- <%= form_for @artist do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %> -->

<%= form_for @artist do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
