
<h1><%= @artist_name %></h1>

<h3><%= @artist_headline %></h3>

<h4><%= @artist_dates %><br>
<%= @artist_genre %></h4>

<h4>Artist Styles</h4>
<ul>
<% @artist_styles.each do |s| %>
<li><%= s %></li>
<% end %>
</ul>

<h4>Related Artists</h4>
<h5> Similar Artists:</h5>
<ul>
<% @artist_similar.each do |s| %>
<li><%= s %></li>
<% end %>
<ul>

<h5>Influenced By:</h5>
<ul>
  <% @artist_influence.each do |s| %>
  <li><%= s %></li>
  <% end %>
</ul>

<h5>Biography</h5>
<% @artist_bio.css("p").each do |p| %>
<p><%= p.text %></p>
<% end %>
