<%= render 'layouts/header' %>

<h1>Hi, <%= @current_user.username %></h1>

<%= render 'artists/new' %>

<h1>Your Artists</h1>
<ul>
<% @current_user.artists.uniq.each do |artist| %>
  <li><%= link_to artist.name, artist %></li>
  <% end %>
</ul>

<h1>Your Genres</h1>
<ul>
<% @current_user.user_genres.each do |genre| %>
  <li><%= genre.name %></li>
  <% end %>
</ul>


<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
